{% extends '../partials/base.html'%}
{% load crispy_forms_tags %}
{% block content%}

<div class="row">
    <div class="col-md-7 p-4 mx-auto">
        <div class="card mt-2 mx-auto bg-light">
            <div class="card-header">
                <div class=" text-center">
                    <h1>Contact us</h1>
                </div>
            </div>
            <div class="card-body bg-light">
                <form method="post">
                    {% csrf_token %} 

                    <div class="form-group px-3">
                        {{ form.firstname|as_crispy_field }}
                    </div>

                    <div class="form-group px-3">
                        {{ form.lastname|as_crispy_field }}
                    </div>

                    <div class="form-group px-3">
                        {{ form.email|as_crispy_field }}
                    </div>

                    <div class="form-group px-3">
                        {{ form.comments|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Send Message">Send Message</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock %}